.container {
    button {
        justify-self: flex-end;
        font-size: 1.05rem;
        padding: 1.8rem 1rem;
        border-radius: 16px;
        border: none;
        margin-bottom: 1.5rem;
        color: var(--secondary-color);
        background-color: rgba($color: #9739d4, $alpha: 0.2);
        transition: 0.2s;
        &:hover {
            transform: scale(1.02);
        }
    }
}

.sectionChartsGrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1.5rem;
}